.menu-evenement-container{ // nav
    .menu {//ul
        display: flex;
        .menu-item { //li
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            border : 3px solid #aaa;
            height : 100px;
            margin : 10px;
            a {
                font-size: 2rem;
                span {
                    display : block;
                    font-size: .9rem;
                }
            }
        }
    }
}