.blocflex {
.menu-atelier-container { // nav
    .menu{//ul
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
         @media screen and (min-width: $largeur__tablette) {
            flex-direction: row;
        }
        @media screen and (min-width: $largeur__bureau) {
            flex-direction: row;
        }
        .menu-item { //li
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            margin : 20px;
            
            a {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                

                .title {
                    display: block;
                    position: absolute;
                    font-size: 2rem;
                    text-align: center;
                    width: 200px;
                    color: rgb(216, 216, 216);
                    font-size: 0.5rem;
                    opacity: 0;
                    transition: opacity 0.5s;
                    @media screen and (min-width: $largeur__tablette) {
                    font-size: 1rem;
                    }
                    @media screen and (min-width: $largeur__bureau) {
                    font-size: 2rem;
                    }
                }

                .title:hover {
                    opacity: 100%;
                }

                .description{
                    font-size: 1rem;
                    display: block;
                    position: absolute;
                    text-align: center;
                }

                .menu-thumbnail{
                    position: relative;
                    border-radius: 10px;
                    z-index: -1;
                    width: 25vw;
                }

            }
        }
    }
}
}
