.site_footer{
    background-color: rgb(59, 56, 66);
    //margin-top: 50px;
    display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: nowrap;
   

    section{
    
    }

    .logo_footer{
       
    }

    .réseaux{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    p{
        color: white;
    }
}